# Entorno virtual
env/
venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Base de datos
*.db
*.sqlite

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# PyInstaller
build/
dist/
*.spec

cat .gitignore